/* ------------------ STYLES GÉNÉRAUX ------------------ */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #181616;
}

.fancy-btn {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-size: 16px;
  margin-top: 20px;
}

.fancy-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* ------------------ NAVBAR ------------------ */
.navbar {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* liens à gauche, logo à droite */
  padding: 0 30px;
  backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.01); /* nécessaire pour le flou */
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 10;
}

.logo {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* ou cover selon l'effet voulu */
}


.links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.links a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/* MENU MOBILE */
.mobile-menu {
  display: none;
  flex-direction: column;
  list-style: none;
  background: white;
  padding: 20px;
  gap: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.mobile-menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.mobile-menu.open {
  display: flex;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .links {
    display: none;
  }
}

/*------ HEADER --------*/
html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.hero {
  padding-top: 65px; /* laisse la place à la navbar */
  height: calc(100vh - 65px);
  position: relative;

  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;

  display: flex;
  justify-content: center;
  background: url('./img/baniere.jpg') no-repeat center center/cover;
 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.hero-content h2 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 400;
  color: black;
}

.hero-content h1 {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #000000;
}

.hero-content p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
  color: #000000;
}

.hero-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 8px;
}



